{% extends "clc/clctemplate.html" %}
{% load i18n %}
{% load staticfiles %}

{% block content %}
<button id="mysubmit" type="submit" class="btn btn-primary">{% trans "Submit Button" %}</button>
<button id="add"      class="btn btn-default">{% trans "Add Rule" %}</button>
<div id="variables"   style="display: none;">{{ variables }}</div>
<div id="rules"       style="display: none;">{{ rules }}</div>
<div id="images"      style="display: none;">{{ images }}</div>
<p></p>
<div class="alert alert-success" style="display: none">
      {% trans "New Rules are submitted Successfully." %}
</div>
<div class="alert alert-danger" style="display: none">
      {% trans "Submitting rules Failed, try again." %}
</div>
{% endblock %}

{% block myjs %}
<link  href="{% static "bizrule/css/demo.css" %}" rel="stylesheet">
<script src="{% static "bizrule/js/rule_builder.js" %}"></script>
<script>
    function build_a_rule(vars, rule) {
        var newdiv = $("<div>", {"class": "newrule"});
        $("#mysubmit").before(newdiv);
        var options = {
           "variables" : vars,
           "rule"      : rule,
        }
        var rb = newdiv.ruleBuilder(options);
    }

    $("#add").click(function(e) {
        var _variables = JSON.parse($("#variables").text())
        build_a_rule(_variables, null);
    });

    $("#mysubmit").click(function(e) {
        var rules = [];
        $(".newrule").each(function(){
            var $this = $(this);
            var rule = $this.ruleBuilder("data");
            rules.push(rule);
        });
        console.log(JSON.stringify(rules));
        url = "/bizrule/postlogin/rule/submit";
            postdata = {
                rule_type:         "postlogin",
                rule_array:         JSON.stringify(rules),
            }
            $.post(url, postdata, function(data) {
                var items = [];
                $.each(data, function (key, val) {
                    items[key] = val;
                });
                if (items['Result'] == "OK") {
                    $('.alert-success').css('display', 'block');
                    $('.alert-danger').css( 'display', 'none');
                    $('.btn').addClass('disabled');
                } else {
                    $('.alert-success').css('display', 'none');
                    $('.alert-danger').text(items['errormsg']);
                    $('.alert-danger').css( 'display', 'block');
                }
            });
    });

    $(document).ready(function() {
        var _variables = JSON.parse($("#variables").text());
        var _rules     = $("#rules").text();
        if (_rules != "[]") {
            _rules = JSON.parse(_rules);
            for (var i=0; i<_rules.length; i++) {
                  build_a_rule(_variables, _rules[i]);
            }
        }
    });
</script>
{% endblock %}